.bg-main{
  width: 70%;
  margin: 0 auto;
  padding: 30px 20px 20px 20px;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button{
  width:100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom:10px;
}

.text-button{
  cursor: pointer;
}
.text-button:hover{
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

@media screen and (max-width: 500px) {
  .bg-main{
    width: 90%;
    padding: 10px 5px;
  }
}